
{% load dajaxice_templatetags %}
{% load staticfiles %}

<html>
    <head>        
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
       	<script src="{% static 'djangoodle/event_detail.js' %}"></script>
        
        {% dajaxice_js_import %}

    </head>
    <body>
		<h1>{{ event.name }}</h1>
		<p>{{ event.description }}</p>
		<p>{{ event.date }}</p>

		<div id="participants">
		{% for participant in participant_list %}
		<p>{{ participant.name }}</p>
		{% endfor %}
		</div>

		<form action="" method="post" id="input_form">{% csrf_token %}
			{{ participant_form.as_p }}
			<input type="button" value="Send" id="btn_add_participant" onclick="add_participant({{event.id}})"/>
		</form>

    </body>
</html>
